*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.pyc
*.pyo
.build
node_modules
.cache
zhangdocs-theme-*/
html
html/
html/*
volumes
chromadatabase
chat_history.db
chroma_database
./logs
chroma_db
.env
logs
logs/
covers
storages
chroma_db
data/*